---
layout: default
---
<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6">
      <p>
        Hello! I am Sai Madhurika Mamunuru. I teach economics at Whitman College. 
        I am interested in social networks, wealth inequality, and the economics of gender.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img src="{{ site.github.url }}/assets/img/IMG_3286.png" alt="Home" style="max-width: 100%; height: auto;">
    </div>
  </div>
</div>
